body {
    background-color: #BBB;
    font-family: Georgia, serif;
}

h1 {
    margins: 20px;
    text-align: center;
}

button {
    border: 0px;
    font-family: Georgia, serif;
    background-color: #DDD;
    border-radius: 5px;
}
    
#buttonWrapper {
    text-align: center;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 263px;
}

#gridWrapper {
    background-color: #FFF;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 192px;
    height: 192px;
    line-height: 0px;
}

.divGrid {
    display: inline-block;
    background-color: #FFF;
    border: solid 1px #FFF;
    padding: 0px;
    margin:  0px;
    height:  10px;
    width:   10px; 
}

#colorWrapper {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    height: 20px;
}

.colorGrid {
    display: inline-block;
    padding: 0px;
    margin:  0px;
    height:  20px;
    width:   20px; 
}

#red{
    background-color: #F00;
    border-color:     #F00;
}

#orange{
    background-color: #FFA500;
    border-color:     #FFA500;
}

#yellow{
    background-color: #FFFF00;
    border-color:     #FFFF00;
}

#green{
    background-color: #0F0;
    border-color:     #0F0;
}

#blue{
    background-color: #00F;
    border-color:     #00F;
}

#purple{
    background-color: #FF00FF;
    border-color:     #FF00FF;
}

#white{
    background-color: #FFF;
    border-color:     #FFF;
}

#black{
    background-color: #000;
    border-color:     #000;
}

#footer{
    position: fixed;
    bottom: 0;
    right: 15px;
}
